<!DOCTYPE html>
<html>
<head>
  <title><%= winnerDepartment %></title>
</head>
<body>
  <h1>Hello,</h1>
  <p>Here is the Name of winner department and hits it has got!</p>
  <p>Winner <%= winnerDepartment %></p>
  <p>Winner <%= hits %></p>
</body>
</html>
